@page
@model QuestionnaireInvestigation.Web.Pages.Questions.IndexModel
@{
}
@section scripts
{
    <abp-script src="/Pages/Questions/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>2021标题问卷调查</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="QuestionsTable"></abp-table>
    </abp-card-body>
</abp-card>